@media only screen and (max-height: 450px) {
  .overlay-menu a {font-size: 20px}
  .overlay-menu .closeBtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 330px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
  #about {
    height: 100vh;
  }
  .about-left-block {
    height: 25vh;
  }
  .about-right-block {
    height: 75vh;
  }
  .about-title {
    margin-top: 20%;
    font-size: 3rem;
  }
  .about-icon {
    margin-top: 0;
  }
  .about-logo img {
    width: 35%;
  }
}