body, html {
    height: 100%;
    margin: 0;
    background-color: #191a21;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Raleway', sans-serif;
}


/* ----- Menu ----- */

.overlay-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191a21;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3;
}

.overlay-content-menu {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #bd93f9;
    display: block;
    transition: 0.3s;
}

.overlay-menu a:hover, .overlay a:focus {
    color: #defa8c;
}

.overlay-menu .closeBtn {
    position: absolute;
    top: -9px;
    right: 14px;
    font-size: 60px;
}

.burger-menu {
    position: fixed;
    z-index: 1;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.bar1 {
    background-color: #defa8c;
    width: 30px;
    height: 5px;
    margin: 6px 0;
}

.bar2 {
    background-color: #defa8c;
    width: 25px;
    height: 5px;
    margin: 6px 0;
}

.bar3 {
    background-color: #defa8c;
    width: 20px;
    height: 5px;
    margin: 6px 0;
}

.home-link, .inscription-link, .connexion-link {
    position: fixed;
    top: 25px;
    left: 25px;
    color: #defa8c;
    z-index: 1;
}

.home-link {
    font-family: 'Monoton', cursive;
}

.inscription-link {
    left: 130px;
    font-family: 'Raleway', sans-serif;
}

.connexion-link {
    left: 200px;
    font-family: 'Raleway', sans-serif;
}


/* ----- Hero ----- */

.hero-image {
    background-image: url('../images/Toulouse-nb.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-title {
    font-family: 'Monoton', cursive;
    font-size: 8rem;
    color: #defa8c;
}

.hero-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: #defa8c;
}


/* ----- Second Parallax ----- */

.second-parallax {
    background-image: url('../images/code.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}


/* ----- About ----- */

#about {
    height: 100%;
}

.about-right-block {
    background-color: #21222c;
    height: 100vh;
}

.about-title {
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    color: #8be9fd;
    margin-top: 85%;
}

.about-icon {
    color: #defa8c;
    margin-top: 20%;
}

.about-text {
    color: #defa8c;
    font-size: 1.5rem;
    margin-top: 8%;
}

.about-logo {
    margin-top: 5%;
}


/* ----- Progress ----- */

#progress {
    height: 100%;
}

.progress-title {
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    color: #8be9fd;
}

.progress-subtitle {
    color: #defa8c;
}

.progress-left-block {
    background-color: #21222c;
    height: 85vh;
}

.progress-center-block {
    background-color: #282a36;
    height: 85vh;
}

.progress-right-block {
    background-color: #21222c;
    height: 85vh;
}

.progress-icon, .progress-block-title  {
    margin-top: 20%;
    color: #bd93f9;
}

.progress-block-title  {
    margin-top: 5%;
    color: #bd93f9;
}

.progress-text {
    color: #bd93f9;
    margin-top: 10%;
}