body, html {
    height: 100%;
    margin: 0;
    background-color: #191a21;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Raleway', sans-serif;
}


/* ----- Modal Inscription Team ----- */

.team-inscription-header {
    background-color: #191a21;
    color: #defa8c;
}

.team-inscription-footer {
    background-color: #191a21;
    color: #defa8c;
}

.team-inscription-validate {
    width: 100px;
    height: 35px;
    background-color: #defa8c;
    color: #191a21;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ----- Menu ----- */

.overlay-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191a21;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3;
}

.overlay-content-menu {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #bd93f9;
    display: block;
    transition: 0.3s;
}

.overlay-menu a:hover, .overlay a:focus {
    color: #defa8c;
}

.overlay-menu .closeBtn {
    position: absolute;
    top: -9px;
    right: 14px;
    font-size: 60px;
}

.burger-menu {
    position: fixed;
    z-index: 1;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.bar1 {
    background-color: #defa8c;
    width: 30px;
    height: 5px;
    margin: 6px 0;
}

.bar2 {
    background-color: #defa8c;
    width: 25px;
    height: 5px;
    margin: 6px 0;
}

.bar3 {
    background-color: #defa8c;
    width: 20px;
    height: 5px;
    margin: 6px 0;
}

.home-link, .inscription-link, .connexion-link {
    position: fixed;
    top: 25px;
    left: 25px;
    color: #defa8c;
    z-index: 1;
}

.home-link {
    font-family: 'Monoton', cursive;
}

.inscription-link {
    left: 130px;
    font-family: 'Raleway', sans-serif;
}

.connexion-link {
    left: 200px;
    font-family: 'Raleway', sans-serif;
}


/* ----- Parallax ----- */

.hero-image {
    background-image: url('../images/Toulouse-nb.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-title {
    font-family: 'Monoton', cursive;
    font-size: 8rem;
    color: #defa8c;
}

.hero-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: #defa8c;
}

.second-parallax, .third-parallax, .fourth-parallax, .fith-parallax {
    background-image: url('../images/Toulouse-nb.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}


/* ----- About ----- */

#about {
    height: 100%;
}

.about-right-block {
    background-color: #21222c;
    height: 100vh;
}

.about-title {
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    color: #8be9fd;
    margin-top: 85%;
}

.about-icon {
    color: #defa8c;
    margin-top: 20%;
}

.about-text {
    color: #defa8c;
    font-size: 1.5rem;
    margin-top: 8%;
}

.about-logo {
    margin-top: 5%;
}


/* ----- Progress ----- */

#progress {
    height: 100%;
}

.progress-title {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: #8be9fd;
    margin-top: 85%;
}

.progress-subtitle {
    color: #defa8c;
}

.progress-top-left-block, .progress-top-right-block, .progress-bottom-left-block, .progress-bottom-right-block {
    height: 50vh;
}

.progress-top-left-block, .progress-bottom-right-block {
    background-color: #defa8c;
    color: #191a21;
}

.progress-top-right-block, .progress-bottom-left-block {
    color: #defa8c;
}

.progress-icon {
    margin-top: 17%;
}

.progress-btn-block {
    margin-top: 25%;
}

.progress-inscription-btn, .progress-team-btn {
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #191a21;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.progress-inscription-btn:hover, .progress-team-btn:hover {
    background-color: #191a21;
    color: #defa8c;
}


/* ----- Prize ----- */

#prize {
    height: 100%;
}

.prize-title {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: #8be9fd;
    margin-top: 85%;
}

.prize-right-block {
    height: 100vh;
    background-color: #282a36;
}

.prize-text {
    color: #defa8c;
}

.prize-container {
    position: relative;
    width: 100%;
    padding-top: 8%;
  }
  
.prize-image {
    display: block;
    width: 100%;
    height: auto;
}
  
.prize-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #282a36;
    padding-top: 8%;
}
  
.prize-container:hover .prize-overlay {
    opacity: 1;
}
  
.prize-text-overlay {
    color: #defa8c;
}

.prize-logo-overlay {
    width: 15%;
}


/* ----- Partners ----- */

#partners {
    height: 100%;
}

.partners-title {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: #8be9fd;
    margin-top: 85%;
}

.partners-right-block {
    background-color: #282a36;
    height: 100vh;
}

.partners-btn {
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #defa8c;
    color: #defa8c;
    cursor: pointer;
    font-family: 'Raleway', sans-serif; 
}

/* ----- Become Partners Page ----- */

#become-partners {
    height: 100vh;
}

.become-partners-title {
    font-family: 'Monoton', cursive;
    color: #8be9fd;
    font-size: 4rem;
    margin-top: 60%;
}

.become-partners-right-block {
    background-color: #282a36;
    height: 100vh;
}

.become-partners-icon {
    color: #defa8c;
    margin-top: 5%;
}

.become-partners-text-block {
    margin-top: 10%;
}

.become-partners-text {
    color: #bd93f9;
    padding-top: 50px;
}

.become-partners-btn-link {
    cursor: pointer;
}

.become-partners-btn {
    background-color: transparent;
    border: 2px solid #defa8c;
    color: #defa8c;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin-top: 5%;
}

.become-partners-btn:hover {
    background-color: #defa8c;
    border: 2px solid #defa8c;
    color: #191a21;
}


/* ----- Contact ----- */

#contact {
    height: 100%;
}

.contact-title {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: #8be9fd;
    margin-top: 85%;
}

.jsco, .melee {
    height: 100vh;
}

.jsco {
    background-color: #defa8c;
    color: #191a21;
    padding-top: 18%;
}

.melee {
    background-color: #282a36;
    color: #defa8c;
    padding-top: 18%;
}


/* ----- Footer ----- */

.footer {
    background-color: #21222c;
    color: #defa8c;
}

.footer-copyright {
    background-color: #191a21;
    color: #bd93f9;
    width: 100%;
    height: 35px;
    line-height: 35px;
}


/* ----- Back to top Btn ----- */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #defa8c;
    cursor: pointer;
    padding: 15px;
}


/* ----- Team Section ----- */

#team {
    height: 100vh;
    color: #8be9fd;
}


/* ----- Page Mentions ----- */

#mentions {
    color: #8be9fd;
}